@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box !important;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-45deg, #18354f, #42E695);
    background-position: center center;
    background-size: 100% 100%;
}

/*\\\\\\\\\\\\\\\BASE///////////////*/
.playlist {
    margin: 6.5vh auto;
    width: 100%;
    max-width: 35%;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 5px 5px 7px rgb(28, 89, 73);
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Shrikhand', cursive;
    color: #42E695;
    font-size: 3em;
}

h3 {
    margin: 20px 0 0 0;
    text-align: center;
    color: #42E695;
    font-weight: 400;
    font-size: 2em;
}

h4 {
    text-align: center;
    color: #2c7a59;
    font-weight: 300;
}

h5 {
    text-align: center;
    color: #42E695;
    font-weight: 300;
    z-index: 20;
    margin-top: 50px;
}

.option {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 50px 0 0 0;
}

.glyphicon-repeat {
    display: flex;
    color: #42E695;
    font-size: 1.5em;
}

.glyphicon-repeat:active {
    color: #2c7a59;
}

.glyphicon-volume-off {
    display: none;
    color: #2c7a59;
    font-size: 1.5em;
}

.glyphicon-volume-up {
    display: flex;
    color: #42E695;
    font-size: 1.5em;
}

/*\\\\\\\\\\\\\\\PLAYER///////////////*/
.player {
    background: rgb(10, 10, 10);
    border-top: 1px solid #42E695;
    width: 100%;
    height: 200px;
    position: relative;
    margin-top: 20px;
    border-radius: 0 0 5px 5px;
}

.player span {
    color: #42E695;
    z-index: 10;
    margin-top: 20px;
}

.glyphicon-play {
    font-size: 3em;
}

.glyphicon-play:active {
    color: #2c7a59;
}

.glyphicon-pause {
    display: none;
    font-size: 3em;
}

.glyphicon-pause:active {
    color: #2c7a59;
}

.position {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.glyphicon-step-backward {
    font-size: 3em;
}

.glyphicon-step-backward:active {
    color: #2a733d;
}

.glyphicon-step-forward {
    font-size: 3em;
}

.glyphicon-step-forward:active {
    color: #2a733d;
}

.bar {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:200px;
    border-radius: 0 0 5px 5px;
}

.pointer{
    width: 0%;
    height: 200px;
    background: rgba(60, 175, 127, 0.15);
    border-radius: 0 0 5px 5px;
}

.cover {
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
}

.cover img {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 40%;
    text-align: center;
}

@media screen and (max-width: 975px) {

    .playlist {
        max-width: 95%;
    }

    h1 {
        font-size: 5em;
    }

    h3 {
        font-size: 3em;
    }

    h4 {
        font-size: 2em;
    }

    h5 {
        font-size: 1.5em;
    }

    .glyphicon-play {
        font-size: 4em;
    }

    .glyphicon-pause {
        font-size: 4em;
    }

    .glyphicon-step-backward {
        font-size: 4em;
    }

    .glyphicon-step-forward {
        font-size: 4em;
    }

    .bar {
        height: 250px;
    }

    .pointer {
        height: 250px;
    }

    .cover img {
        width: 48%;
    }

}

@media screen and (max-width: 480px) {

    .playlist {
        margin-top: 0;
    }

    h1 {
        font-size: 4em;
    }

    h3 {
        font-size: 2.5em;
    }

    h4 {
        font-size: 2em;
    }

}